.splash-section {
  background-size: cover;
  background: url(../assets/images/splash_background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.splash-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../assets/images/TreatMeLikeImGarbage.png") no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; }

.create-section {
  background-size: cover;
  background: url(../assets/images/create_background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.distort-section {
  background-size: cover;
  background: url(../assets/images/distort_background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.interact-section {
  background-size: cover;
  background: url(../assets/images/interact_background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.footer-section {
  background-size: cover;
  background: url(../assets/images/footer_background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

body {
  color: white;
  margin: 0;
  background: #000;
  letter-spacing: 3px;
  font-family: "aktiv-grotesk"; }

.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(50%); }
