.splash-section {
  background: url(../assets/images/splash_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 768px; }

.splash-logo {
  display: block;
  margin: 0 auto;
  padding-top: 40px; }

.splash-icon {
  display: block;
  margin: 0 auto;
  margin-top: 100px; }

.splash-text {
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  font-family: "din-condensed-web";
  font-size: 21px; }

.splash-arrow {
  display: block;
  margin: 0 auto;
  margin-top: 2vh; }

.splash-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../assets/images/TreatMeLikeImGarbage.png") no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; }

.create-section {
  background: url(../assets/images/create_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 768px; }

.distort-section {
  background: url(../assets/images/distort_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 768px; }

.interact-section {
  background: url(../assets/images/interact_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 768px; }

.footer-section {
  background: url(../assets/images/footer_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 768px; }

body {
  color: white;
  margin: 0;
  background: #000;
  letter-spacing: 3px;
  font-family: "aktiv-grotesk"; }

.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(50%); }
