@media (max-width: 767px) {
  .mobile-only, .content-mobile-common, .create-content-mobile, .distort-content-mobile, .interact-content-mobile {
    display: block !important; }

  .tablet-up, .create-content, .distort-content, .interact-content, .footer-content {
    display: none !important; } }
@media (min-width: 768px) {
  .mobile-only, .content-mobile-common, .create-content-mobile, .distort-content-mobile, .interact-content-mobile {
    display: none !important; }

  .tablet-up, .create-content, .distort-content, .interact-content, .footer-content {
    display: block !important; } }
.splash-section {
  position: relative;
  background: url(../assets/images/splash_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh; }

.splash-logo {
  display: block;
  margin: 0 auto;
  padding-top: 12vh; }
  @media (min-width: 768px) {
    .splash-logo {
      padding-top: 60px; } }

.splash-icon {
  height: 230px; }
  @media (min-width: 768px) {
    .splash-icon {
      height: 343px; } }

.distorted-reality {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  margin-left: -107px; }

.splash-text {
  text-align: center;
  text-transform: uppercase;
  font-family: "din-condensed-web";
  font-size: 25px; }

.splash-arrow {
  display: block;
  margin: 0 auto;
  margin-top: 2vh; }

#vid {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -100; }

#vid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: -100; }

.splash-video {
  position: absolute;
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../assets/images/TreatMeLikeImGarbage.png") no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; }

.create-section {
  background: url(../assets/images/create_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative; }

.create-content {
  width: 750px;
  height: 540px;
  width: 920px; }

.create-title {
  text-align: right;
  font-size: 70px;
  width: 400px;
  float: left; }
  @media (min-width: 768px) {
    .create-title {
      width: 550px;
      padding-top: 150px; } }

.create-phone {
  float: right; }
  @media (min-width: 768px) {
    .create-phone {
      margin-top: -300px; } }

.create-blurb {
  text-align: right;
  width: 400px;
  float: left;
  margin-top: 2vh; }
  @media (min-width: 768px) {
    .create-blurb {
      width: 550px; } }

.distort-section {
  position: relative;
  background: url(../assets/images/distort_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh; }

.distort-content {
  width: 750px;
  height: 540px; }

@media (min-width: 768px) {
  .distort-title {
    margin-left: 375px;
    font-size: 70px;
    padding-top: 200px; } }

@media (min-width: 768px) {
  .distort-phone {
    float: left; } }

.distort-blurb-common {
  font-family: "din-next";
  color: #DFA29A; }

@media (min-width: 768px) {
  .distort-blurb {
    margin-left: 375px;
    margin-top: 3vh; } }

@media (min-width: 960px) {
  .distort-content {
    width: 920px; }

  .distort-title {
    margin-top: 20vh; } }
.interact-section {
  background: url(../assets/images/interact_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative; }

.interact-content {
  width: 1000px;
  height: 500px; }

.interact-title {
  font-size: 70px;
  text-align: center; }

.interact-phone-mobile {
  height: 50vh !important;
  overflow-x: auto; }

.interact-phone {
  display: block;
  margin: 0 auto;
  margin-top: 4vh; }

.interact-blurb {
  margin: 0 auto;
  font-size: 27px;
  letter-spacing: -1.5px;
  line-height: 30px;
  text-align: center;
  margin-top: 4vh;
  width: 750px; }

@media (min-width: 1024px) {
  .interact-blurb {
    width: 1000px; } }
.footer-section {
  background: url(../assets/images/footer_background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  position: relative; }

.footer-blurb {
  height: 40px;
  font-size: 25px;
  font-family: "din-next";
  letter-spacing: 1px;
  line-height: 26px;
  text-align: center;
  width: 600px; }

.footer-copyright {
  position: absolute;
  bottom: 2vh;
  font-size: 12px;
  font-family: "din-next";
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  left: 50%;
  margin-left: -115px; }

.hyperspektiv-navbar {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999999;
  background-color: transparent;
  border-bottom: none; }

.navbar-bg {
  position: fixed;
  opacity: 0;
  background-color: black;
  border-bottom: none;
  width: 100%;
  height: 120px;
  z-index: -999; }

.navbar-content {
  margin-top: 20px;
  opacity: 0; }

.navbar-bg-show {
  opacity: 0.6; }

.navbar-content-show {
  opacity: 1.0; }

.transition {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.navbar-logo {
  display: block;
  margin: 0 auto; }

.navbar-text-link {
  margin-top: 27px !important;
  letter-spacing: 0px;
  font-size: 14px; }

.navbar-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 550px; }

.navbar-list li {
  width: 110px;
  float: left;
  margin: 0 auto; }

.social-navbar-list {
  list-style-type: none; }

.social-navbar-list li {
  width: 17px; }

.social-navbar-list a {
  width: 17px !important; }

.social-navbar-list > img {
  width: 17px; }

@font-face {
  font-family: din-next;
  src: url(../fonts/DINNextLTPro-Light.otf); }
.app-store-icon {
  height: 60px;
  margin-top: 30px;
  margin-left: 30px;
  float: left; }

#sign-up {
  position: fixed;
  bottom: 0;
  right: 0; }

.title-common, .create-title, .distort-title, .interact-title, .title-mobile-common, .create-title-mobile, .distort-title-mobile, .interact-title-mobile {
  font-weight: bold;
  font-family: "aktiv-grotesk";
  text-transform: uppercase;
  margin-top: 0; }

@media (max-width: 768px) {
  .title-mobile-common, .create-title-mobile, .distort-title-mobile, .interact-title-mobile {
    text-align: center;
    padding-top: 3vh;
    font-size: 50px; } }
@media (min-width: 540px) and (max-width: 768px) {
  .title-mobile-common, .create-title-mobile, .distort-title-mobile, .interact-title-mobile {
    padding-top: 2vh;
    font-size: 40px; } }

@media (max-width: 768px) {
  .phone-mobile-common, .create-phone-mobile, .distort-phone-mobile, .interact-phone-mobile {
    height: 70vh; } }

.blurb-common, .create-blurb, .distort-blurb, .interact-blurb, .blurb-mobile-common, .create-blurb-mobile, .distort-blurb-mobile, .interact-blurb-mobile {
  font-family: "din-next";
  color: #DFA29A; }
  @media (min-width: 768px) {
    .blurb-common, .create-blurb, .distort-blurb, .interact-blurb, .blurb-mobile-common, .create-blurb-mobile, .distort-blurb-mobile, .interact-blurb-mobile {
      font-size: 27px;
      display: block;
      letter-spacing: -1.5px;
      line-height: 30px; } }

@media (max-width: 768px) {
  .blurb-mobile-common, .create-blurb-mobile, .distort-blurb-mobile, .interact-blurb-mobile {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    letter-spacing: 0;
    font-size: 20px;
    text-align: center; } }
@media (min-width: 540px) and (max-width: 768px) {
  .blurb-mobile-common, .create-blurb-mobile, .distort-blurb-mobile, .interact-blurb-mobile {
    bottom: 2vh;
    margin-left: -320px;
    width: 640px; } }

body {
  color: white;
  margin: 0;
  background: #000;
  letter-spacing: 3px;
  font-family: "aktiv-grotesk"; }

a {
  color: white;
  text-transform: uppercase; }

a:hover {
  color: #F4B6A4;
  text-decoration: none; }

a:focus {
  color: white;
  text-decoration: none; }

a:visited {
  color: white;
  text-decoration: none; }

a:active {
  color: #F4B6A4;
  text-decoration: none; }

.absolute-center, .splash-icon, .create-content, .distort-content, .interact-content, .footer-blurb, .phone-mobile-common, .create-phone-mobile, .distort-phone-mobile, .interact-phone-mobile {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
