@import "_mixins.scss";

.content-mobile-common {
    @extend .mobile-only;
}

.title-common {
    font-weight: bold;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 0;
}

.title-mobile-common {
    @extend .title-common;
    
    @include mobile-portrait-up {
        text-align: center;
        padding-top: 3vh;
        font-size: 50px;
    }
    
    @include mobile-landscape {
        padding-top: 2vh;
        font-size: 40px;
    }
}

.phone-mobile-common {
    @extend .absolute-center;
    
    @include mobile-portrait-up {
        height: 70vh;   
    }
}

.blurb-common {    
    font-family: "din-next";
    color: #DFA29A;
    
    @include tablet-up {
        font-size: 27px;
        display: block;
        letter-spacing: -1.5px;
        line-height: 30px;
    }
}

.blurb-mobile-common {
    @extend .blurb-common;
    
    @include mobile-portrait-up {
        position: absolute;
        bottom: 2vh;
        left:50%;
        margin-left: -160px;
        width: 320px;
        letter-spacing: 0;
        font-size: 20px;
        text-align: center;
    }
    
    @include mobile-landscape {
        bottom: 2vh;
        margin-left: -320px;
        width: 640px;
    }
}

.phone-section-common {
    @extend .absolute-center;
    background-size: cover;
    background-position: 50% 50%;
    
    width: 200px;
    height: 381px;
    
    @include iphone6-portrait-up {
        width: 250px;
        height: 476px;
    }
    
    @include iphone6plus-portrait-up {
        width: 300px;
        height: 572px;
    }
    
    @include tablet-up {
        position: relative;
        width: 299px;
        height: 570px; 
    }

}

.phone-video-common {
    width: 153px;
    height: 273px;
    margin-left: 23px;
    margin-top: 54px;
    
    @include iphone6-portrait-up {
        margin-left: 29px;
        margin-top: 70px;
        width: 191px;
        height: 341px;
    }
    
    @include iphone6plus-portrait-up {
        margin-left: 36px;
        margin-top: 84px;
        width: 233px;
        height: 407px;
    }
    
    @include tablet-up {
        width: auto;
        height: auto;
        margin-left: 34px;
        margin-top: 83px;
    }

}

.emphasis {
    color: #16FFC2; 
    font-weight: bold;
}