.copyright-section {
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: black;
    
}

.copyright {
    font-size: 14px;
    font-family: "din-next";
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}