.create-section {
    background: url(../assets/images/create_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
}

.create-content-mobile {
    @extend .content-mobile-common;
}

.create-content {
    @extend .tablet-up;
    @extend .absolute-center;
    
    width: 750px;
    height: 540px;
    
    width: 920px;  
}

.create-title-mobile {
    @extend .title-common; 
    
    @include mobile-portrait-up {
        text-align: center;
        padding-top: 3vh;
        font-size: 50px;
    }
    
    @include mobile-landscape {
        padding-top: 2vh;
        font-size: 40px;
    }
}

.create-title {
    @extend .title-common; 
    
    text-align: right;
    font-size: 70px;
    width: 400px;
    float: left;
    
    @include tablet-up {
        width: 550px;
        padding-top: 150px;   
    }
}

.create-phone-mobile {
    @extend .absolute-center;
    
    @include mobile-portrait-up {
        height: 70vh;   
    }
}

.create-phone {
    float: right;
    
    @include tablet-up {
        margin-top: -300px;       
    }
}

.create-blurb-mobile {
    @extend .blurb-mobile-common;
}

.create-blurb {
    @extend .blurb-common;
    
    text-align: right;
    width: 400px;
    float:left;
    margin-top: 2vh;
    
    @include tablet-up {
        width: 550px;   
    }
}