.create-section {
    background: url(../assets/images/create_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
}

.create-content {
    @extend .absolute-center;
    width: 750px;
    height: 540px;
}

.create-phone {
    //margin-top: -23vh;
    float: right;
}

.create-title {
    text-align: right;
    font-size: 70px;
    font-weight: bold;
    //margin-top: 21vh;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    width: 400px;
    //padding-top: 24vh;
    float:left;
    
}

.create-blurb {
    text-align: right;
    font-size: 27px;
    font-family: "din-next";
    color: #DFA29A;
    letter-spacing: -1.5px;
    line-height: 30px;
    width: 400px;
    float:left;
    margin-top: 2vh;
}

@media (min-width: 960px) {
    .create-content {
        width: 920px;   
    }
    
    .create-blurb {
        width: 550px;
    }
    .create-title {
        width: 550px;
        padding-top: 120px;
    }
    
    .create-phone {
        margin-top: -220px;
    }
}