.create-section {
    background: url(../assets/images/create_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
}

.create-content-mobile {
    @extend .content-mobile-common;
}

.create-content {
    @extend .tablet-up;
    @extend .absolute-center;
    
    width: 750px;
    height: 540px;
}

.create-title-mobile {
    @extend .title-mobile-common;
}

.create-title {
    @extend .title-common; 
    
    text-align: right;
    font-size: 70px;
    width: 200px;
    float: left;
    
    @include tablet-up {
        width:400px;
        padding-top: 150px;   
    }
}

.create-phone-mobile {
    @extend .phone-mobile-common;
}

.create-phone {
    float: right;
    
    @include tablet-up {
        margin-top: -300px;       
    }
}

.create-blurb-mobile {
    @extend .blurb-mobile-common;
}

.create-blurb {
    @extend .blurb-common;
    
    text-align: right;
    width: 400px;
    float:left;
    margin-top: 2vh;
    
}