.meta-cta {
    @extend .transition; 
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    
    @include tablet-up {
        width: 200px;
        bottom: 16px;
        right: 16px;
    }
}

.meta-cta img {
    width: 100%;
}

.meta-cta-mobile-image {
    @extend .mobile-only;
}

.meta-cta-image {
    @extend .tablet-up;
}

.meta-cta-hide {
    opacity: 0;
}

.appstore-navbar {
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    
    @include desktop-up {
        margin-top: 30px;
        height: 60px;   
    }
}

.appstore-cta {
    margin: 0 auto;
    width: 260px;
}

