.app-store-icon {
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    
    @include desktop-up {
        margin-top: 30px;
        height: 60px;   
    }
}

#sign-up {
    @extend .tablet-up;
    
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.sign-up-mobile {
    
}

.email-form-group {
    margin: 0 auto !important;
    display: block;
}

.email-form {
    padding-top: 10px;
    margin: 0 auto;
    
    width: 320px;
    
    @include mobile-landscape {
        width: 440px;
    }
}

.email-input {
    font-family: "aktiv-grotesk";
    border-radius: 0;
    height: 45px;
    width: 265px !important;
    font-size: 18px;
    margin: 0 auto;
    display: block !important;
    
    @include desktop-up {
        display: inline !important;   
    }
}

.email-button {
    margin: 0 auto;
    width: 265px !important;
    height: 45px;
    border-radius: 0;
    background: rgba(0,0,0,0);
    border-color: #C59285;
    border-width: 3px;
    color: #C59285;
    font-weight: bold;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    
    @include tablet-up {
        margin-top: 20px;   
    }
    
    @include desktop-up {
        margin-top: 0;
        margin-left: 10px;
        display: inline;
        width: 120px !important;
    }
}