.meta-cta {
    @extend .transition; 
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    
    @include tablet-up {
        width: 200px;
        bottom: 16px;
        right: 16px;
    }
}

.meta-cta img {
    width: 100%;
}

.meta-cta-mobile-image {
    @extend .mobile-only;
}

.meta-cta-image {
    @extend .tablet-up;
}

.meta-cta-hide {
    opacity: 0;
}

.app-store-icon {
    height: 40px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
    
    @include desktop-up {
        margin-top: 30px;
        height: 60px;   
    }
}

#sign-up {
    @extend .tablet-up;
    
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.sign-up-mobile {
    
}

.email-form-group {
    margin: 0 auto !important;
    display: block;
}

.email-form {
    padding-top: 10px;
    margin: 0 auto;
    
    width: 320px;
    
    @include mobile-landscape {
        width: 440px;
    }
}

.email-input {
    font-family: "aktiv-grotesk";
    border-radius: 0;
    height: 45px;
    width: 265px !important;
    font-size: 18px;
    margin: 0 auto;
    display: block !important;
    
    @include desktop-up {
        display: inline !important;   
    }
}

.email-button {
    margin: 0 auto;
    width: 265px !important;
    height: 45px;
    border-radius: 0;
    background: rgba(0,0,0,0);
    border-color: #C59285;
    border-width: 3px;
    color: #C59285;
    font-weight: bold;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    outline: none !important;
    
    @include tablet-up {
        margin-top: 20px;   
    }
    
    @include desktop-up {
        margin-top: 0;
        margin-left: 10px;
        display: inline;
        width: 120px !important;
    }
}

.email-button:hover {
    background: rgba(0,0,0,0);
    color: lighten(#C59285, 5%);
    border-color: lighten(#C59285, 5%);
}

.email-button:active{
    background: rgba(0,0,0,0);
    color: darken(#C59285, 10%);
    border-color: darken(#C59285, 10%);
}

.email-button:highlight{
    background: rgba(0,0,0,0);
    color: darken(#C59285, 10%);
    border-color: darken(#C59285, 10%);
}

.email-button:focus {
    background: rgba(0,0,0,0);
    color: #C59285;
    border-color: #C59285;
}