.distort-section {
    position: relative;
    background: url(../assets/images/distort_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

.distort-content {
    @extend .absolute-center;
    width: 750px;
    height: 540px;
}

.distort-phone {
    float: left;
}

.distort-title {
    margin-left: 375px;
    font-size: 70px;
    margin-top: 17vh;
    font-weight: bold;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
}

.distort-blurb {
    margin-left: 375px;
    display: block;
    font-size: 27px;
    font-family: "din-next";
    color: #DFA29A;
    letter-spacing: -1.5px;
    line-height: 30px;
    margin-top: 3vh;
}

@media (min-width: 960px) {
    .distort-content {
        width: 920px;   
    }
    
    .distort-title {
        margin-top: 20vh;   
    }
}