.distort-section {
    position: relative;
    background: url(../assets/images/distort_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

.distort-content-mobile {
    @extend .mobile-only;
}

.distort-content {
    @extend .tablet-up;
    @extend .absolute-center;
    
    width: 750px;
    height: 540px;
}

.distort-title-common {
    font-weight: bold;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    margin-top: 0;
}

.distort-title-mobile {
    @extend .distort-title-common;
    
    @include mobile-portrait-up {
        text-align: center;
        padding-top: 3vh;
        font-size: 50px;

    }
    
    @include mobile-landscape {
        padding-top: 2vh;
        font-size: 40px;
    }
}

.distort-title {
    @extend .distort-title-common;
    
    @include tablet-up {
        margin-left: 375px;
        font-size: 70px;
        margin-top: 17vh;
    }
}


.distort-phone-common {
    
}

.distort-phone-mobile {
    @extend .absolute-center;
    
    @include mobile-portrait-up {
        height: 70vh;   
    }
}

.distort-phone {    
    @include tablet-up {
        float: left;
    }
}

.distort-blurb-common {    
    font-family: "din-next";
    color: #DFA29A;
    
}

.distort-blurb-mobile {
    @extend .distort-blurb-common;
    
    @include mobile-portrait-up {
        position: absolute;
        bottom: 2vh;
        left:50%;
        margin-left: -160px;
        width: 320px;
        letter-spacing: 0;
        font-size: 20px;
        text-align: center;
    }
    
    @include mobile-landscape {
        bottom: 0;
        margin-left: -320px;
        width: 640px;
    }
}

.distort-blurb {
    @extend .distort-blurb-common;
    
    @include tablet-up {
        margin-left: 375px;
        font-size: 27px;
        display: block;
        letter-spacing: -1.5px;
        line-height: 30px;
        margin-top: 3vh;
    }
}

@media (min-width: 960px) {
    .distort-content {
        width: 920px;   
    }
    
    .distort-title {
        margin-top: 20vh;   
    }
}