.distort-section {
    position: relative;
    background: url(../assets/images/distort_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

.distort-content-mobile {
    @extend .content-mobile-common 
}

.distort-content {
    @extend .tablet-up;
    @extend .absolute-center;
    
    height: 540px;
}

.distort-title-mobile {
    @extend .title-mobile-common;
}

.distort-title {
    @extend .title-common;
    
    @include tablet-up {
        //margin-left: 375px;
        font-size: 70px;
        padding-top: 200px;
    }
}


.distort-phone-section {
    background: url(../assets/images/distort_phone.png) ;
    background-size: cover;
    background-position: 50% 50%;
    width: 299px;
    height: 570px; 
    
    @include tablet-up {
        margin-left: -150px;   
    }
    
    @include desktop {
        margin-left: 0;   
    }
}

.distort-video {
    margin-left: 34px;
    margin-top: 83px;
}

.distort-phone-mobile {
    @extend .phone-mobile-common;
}

.distort-phone {    
    @include tablet-up {
        float: left;
    }
}

.distort-blurb-common {    
    font-family: "din-next";
    color: #DFA29A;
}

.distort-blurb-mobile {
    @extend .blurb-mobile-common;
}

.distort-blurb {
    @extend .blurb-common;
    
    @include tablet-up {
        //margin-left: 375px;
        margin-top: 3vh;
    }
}

@media (min-width: 960px) {
//    .distort-content {
//        width: 920px;   
//    }
//    
//    .distort-title {
//        margin-top: 20vh;   
//    }
}