.footer-section {
    background: url(../assets/images/footer_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 70vh;
    position: relative;
}

.footer-content {
    //@extend .tablet-up;
}

.footer-main-block {
    @extend .absolute-center;
    
    width: 100%;
    
    height: 70px;
    @include mobile-landscape {
        width: 600px;
        height: 70px;
    }
    
    @include tablet-up {
        width: 700px;   
    }
}

.footer-app-store {
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

.footer-social {
    @extend .mobile-to-desktop;
    
    left: 50%;
    margin-left: -175px;
    position: absolute;
    bottom: 16px;
    width: 350px;
}

.footer-social img {
    width: 43px;
}

.footer-link {
    color: #16FFC2 !important; 
    font-weight: bold;
}