.footer-section {
    background: url(../assets/images/footer_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
}

.footer-content {
    //@extend .tablet-up;
}

.footer-main-block {
    @extend .absolute-center;
    
    width: 100%;
    
    height: 164px;
    @include mobile-landscape {
        width: 600px;
        height: 110px;
    }
    
    @include tablet-up {
        width: 700px;   
    }
}

.footer-blurb {
    //@extend .absolute-center;
    height: 40px;
    font-size: 24px;
    font-family: "din-next";
    //font-weight: bold;
    letter-spacing: 0px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    //text-transform: uppercase;
    
    

    //padding-top: 20vh;
    
    @include tablet-up {
        padding: 0;
        font-size: 30px;
        //padding-top: 25vh;
    }
}

.footer-emphasis {
    color: #16FFC2; 
    font-weight: bold;
}

.footer-app-store {
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
}

.footer-social {
    @extend .mobile-to-desktop;
    
    left: 50%;
    margin-left: -175px;
    position: absolute;
    bottom: 64px;
    width: 350px;
}

.footer-social img {
    width: 43px;
}

.footer-copyright {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    font-family: "din-next";
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    left:50%;
    margin-left: -215px;
}

.footer-link {
    color: #16FFC2 !important; 
    font-weight: bold;
}