.interact-section {
    background: url(../assets/images/interact_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
}

.interact-content-mobile {
    @extend .content-mobile-common;
}

.interact-content {
    @extend .tablet-up;
    @extend .absolute-center;
    width: 571px;
    height: 500px;
}

.interact-title-mobile {
    @extend .title-mobile-common;
    
    @include mobile-portrait-up {
        padding-top: 24vh !important;
    }
    
    @include mobile-landscape {
        padding-top: 22vh !important;
    }
}

.interact-title {
    @extend .title-common;
    
    font-size: 70px;
    text-align: center;
}

.interact-phone-mobile {
    @extend .phone-mobile-common;
    height: 30vh !important; 
}

.interact-phone {
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
}

.interact-phone-section {
    @extend .absolute-center;
    background-image: url(../assets/images/interact_phone.png) ;
    background-size: cover;
    background-position: 50% 50%;

    width: 315px;
    height: 164px;
    
    @include iphone6-portrait-up {
        width: 370px;
        height: 193px;
    }
    
    @include iphone6plus-portrait-up {
        width: 409px;
        height: 217px;
    }
    
    @include tablet-up {
        position: relative;
        width: 570px;
        height: 299px; 
    }

}

.interact-video {
    margin-left: 46px;
    margin-top: 19px;
    width: 226px;
    height: 128px;
    
    
    @include iphone6-portrait-up {
        margin-left: 53px;
        margin-top: 22px;
        
        width: 264px;
        height: 153px;
    }
    
    @include iphone6plus-portrait-up {
        margin-left: 59x;
        margin-top: 24px;
        
        width: 296px;
        height: 169px;
    }
    
    @include tablet-up {
        width: 273px;
        height: 153px;
        
        margin-top: 34px;
        margin-left: 83px;   
    }
}

.interact-blurb-mobile {
    @extend .blurb-mobile-common;
    
    @include mobile-portrait-up {
        bottom: 25vh !important;
    }
    
    @include mobile-landscape {
        bottom: 23vh !important;
    }
}

.interact-blurb {
    @extend .blurb-common;
    
    margin: 0 auto;
    font-size: 27px;
    letter-spacing: -1.5px;
    line-height: 30px;
    text-align: center;
    margin-top: 4vh;
}