.interact-section {
    background: url(../assets/images/interact_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
}

.interact-content {
    padding-top: 0px;
}

.interact-phone {
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
}

.interact-title {
    font-size: 70px;
    margin-top: 18vh;
    font-weight: bold;
    font-family: "aktiv-grotesk";
    text-transform: uppercase;
    text-align: center;
}

.interact-blurb {
    margin: 0 auto;
    font-size: 27px;
    font-family: "din-next";
    color: #DFA29A;
    letter-spacing: -1.5px;
    line-height: 30px;
    text-align: center;
    margin-top: 4vh;
    width: 750px;
}

@media (min-width: 1024px) {
    .interact-blurb {
        width: 1000px;   
    }
}