.interact-section {
    background: url(../assets/images/interact_background.jpg) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
}

.interact-content-mobile {
    @extend .content-mobile-common;
}

.interact-content {
    @extend .tablet-up;
    @extend .absolute-center;
    width: 571px;
    height: 500px;
}

.interact-title-mobile {
    @extend .title-mobile-common;
    
    @include mobile-portrait-up {
        padding-top: 24vh !important;
    }
    
    @include mobile-landscape {
        padding-top: 22vh !important;
    }
}

.interact-title {
    @extend .title-common;
    
    font-size: 70px;
    text-align: center;
}

.interact-phone-mobile {
    @extend .phone-mobile-common;
    height: 30vh !important; 
}

.interact-phone {
    display: block;
    margin: 0 auto;
    margin-top: 4vh;
}

.interact-phone-section {
    background-size: cover;
    background-position: 50% 50%;
    width: 570px;
    height: 299px; 
    background: url(../assets/images/interact_phone.png) ;
}

.interact-video {
    margin-top: 34px;
    margin-left: 83px;
}

.interact-blurb-mobile {
    @extend .blurb-mobile-common;
    
    @include mobile-portrait-up {
        bottom: 25vh !important;
    }
    
    @include mobile-landscape {
        bottom: 23vh !important;
    }
}

.interact-blurb {
    @extend .blurb-common;
    
    margin: 0 auto;
    font-size: 27px;
    letter-spacing: -1.5px;
    line-height: 30px;
    text-align: center;
    margin-top: 4vh;
}