#mc_embed_signup{
    background:rgba(0,0,0,0); 
    clear:left; 
    font:16px "din-next",sans-serif; 
}
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

#mc_embed_signup div.mce_inline_error {
    background-color:rgba(0,0,0,0) !important; 
    margin: 0 auto !important;
    margin-top: 16px !important;
    
    width: 270px;
    
    @include desktop-up {
        width: 350px;
    }
}

#mc_embed_signup #mce-success-response {
    color: white;
    width: 270px;
    @include desktop-up {
        width: 350px;
    }
    margin: 0 auto !important;
}

#mc_embed_signup div.response {
    float: none;
    padding: 0;
    
    font-size: 16px;
    
    @include desktop-up {
        font-size: 20px;
        width: 350px;
    }
    
    
    margin-top: -10px;
}