@mixin centre($axis: "both"){
	position:absolute;
	@if $axis == "y"{
		top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
	}
	@if $axis == "x"{
		left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
	}
	@if $axis == "both"{
		top:50%;
		left:50%;
		-webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	}	
}

$mobile-portrait-max-width: 540px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile-portrait-up {
    @media (max-width: #{$tablet-width}) {
        @content;    
    }
}

@mixin mobile-landscape {
    @media (min-width: #{$mobile-portrait-max-width}) and (max-width: #{$tablet-width}) {
        @content;    
    }
}

@mixin tablet-up {
    @media (min-width: #{$tablet-width}) {
        @content;   
    }
}

@mixin desktop-up {
    @media (min-width: #{$desktop-width}) {
        @content;   
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}


@media (max-width: 767px) {
    .mobile-only {
        display: block !important;   
    }
    
    .tablet-up {
        display: none !important;
    }
    
    .desktop-up {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .mobile-only {
        display: none !important;   
    }
    
    .tablet-up {
        display: block !important;
    }
    
    .desktop-up {
        display: none !important;   
    }
}

@media (min-width: 1024px) {    
    .desktop-up {
        display: block !important;   
    }
}
