@import "_mixins.scss";

.splash-section {
    position: relative;
    background: url(../assets/gifs/hypersplash2.gif) ;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    
    @include desktop-up {
        background: none;   
    }
}

.splash-content-mobile {
    @extend .content-mobile-common;
}

.splash-content {
    @extend .tablet-up;
}

.splash-app-store-mobile {
    padding-top: 16px;
    width: 180px;
    margin: 0 auto;
    display: block;
    
    @include mobile-landscape {
        width: 120px;
        padding-top: 2px;
    }
}

.splash-main-block-mobile {
    @extend .absolute-center;
    height: 350px;
    
    @include mobile-landscape {
        height: 230px;   
    }
}

.splash-title-common {
    display: block;
    margin: 0 auto;
    
    
    @include tablet-up {
       padding-top: 60px; 
    }
}

.splash-title-mobile {
    @extend .splash-title-common;
}

.splash-title {
    @extend .splash-title-common;
    padding-top: 12vh;
}

.splash-icon {
    @extend .absolute-center;

    height: 230px;
    
    @include mobile-landscape {
        height: 150px;   
    }
    
    @include tablet-up {
        height: 343px;   
    }
}

.distorted-reality-common {
    position: absolute;
    bottom: 2vh;
    left:50%;
    
}

.distorted-reality-mobile {
    @extend .distorted-reality-common;
    bottom: 0vh;
    margin-left: -85px;
}

.distorted-reality {
   @extend .distorted-reality-common; 
    margin-left: -107px;
}

.splash-text-common {
    text-align: center;
    text-transform: uppercase;
    font-family: "din-condensed-web";
    
}

.splash-text-mobile {
    @extend .splash-text-common;
    font-size: 18px;
}

.splash-text {
    @extend .splash-text-common;
    font-size: 25px;
}

.splash-arrow {
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
}

#vid {
    position:absolute;
    height: 100vh;
    width:100%;
    overflow: hidden;
    z-index: -100;
}

#vid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    z-index: -100;
}

.splash-video { 
    position: absolute;
    //top: 50%;
    //left: 50%;
    max-width: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    //-webkit-transform: translateX(-50%) translateY(-50%);
    //transform: translateX(-50%) translateY(-50%);
    background: url('../assets/images/TreatMeLikeImGarbage.png') no-repeat; background-size: cover;  -webkit-transition: 1s opacity; transition: 1s opacity; 
}
    
.distorted-reality {

}