@import "_mixins.scss";

.splash-section {
    background-size: cover;
    background: url(../assets/images/splash_background.jpg) ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.splash-logo {
    display: block;
    margin: 0 auto;
    padding-top: 6vh;
}

.splash-icon {
    @include centre;
}

.splash-text {
    text-align: center;
    margin-top: 80vh;
    text-transform: uppercase;
    font-family: "din-condensed-web";
    font-size: 21px;
}

.splash-arrow {
    display: block;
    margin: 0 auto;
    margin-top: 2vh;
}

.splash-video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../assets/images/TreatMeLikeImGarbage.png') no-repeat; background-size: cover;  -webkit-transition: 1s opacity; transition: 1s opacity; 
}
    