@import "_mixins.scss";

.privacy-main-block {
    width: 100%;
    
    margin: 0 auto;
    margin-top: 32px;
    
    width: 80%;
    @include mobile-landscape {
        width: 600px;
        height: 60px;
    }
    
    @include tablet-up {
        width: 700px;   
    }
}

.privacy-section {
    background-color: black;
}

.privacy-blurb {
    font-family: "aktiv-grotesk";
    letter-spacing: 0px;
    width: 100%;
}

.privacy-social { 
    left: 50%;
    margin-left: -175px;
    position: absolute;
    bottom: 64px;
    width: 350px;
}

.privacy-social img {
    width: 43px;
}

.privacy-logo {
    display: block;
    margin: 0 auto;
    padding-top: 16px;
}

.privacy-copyright {
    font-size: 12px;
    font-family: "din-next";
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}