@import "_splash.scss";
@import "_create.scss";
@import "_distort.scss";
@import "_interact.scss";
@import "_footer.scss";

body { 
    color: white;
    margin: 0; 
    background: #000;
    letter-spacing: 3px;
    font-family: "aktiv-grotesk";
}